:root {
  --bitdo-guide-img: url(/themes_custom/8bitdo-controller-glyphs/assets/8bitdo_button_guide.svg);
  --bitdo-controller-img: url(/themes_custom/8bitdo-controller-glyphs/assets/8bitdo-ultimate-config.svg);
}

.controller_xboxone .rlz-U2wn9ktH5Z9trfpZa {
  background-image: var(--bitdo-controller-img);
}

img[src='/steaminputglyphs/xbox_button_logo.svg'] {
  content: var(--bitdo-guide-img);
}

img[src='/steaminputglyphs/xbox_button_select.svg'] {
  content: url(/steaminputglyphs/switchpro_button_minus.svg);
}

img[src='/steaminputglyphs/xbox_button_start.svg'] {
  content: url(steaminputglyphs/switchpro_button_plus.svg);
}
